[submodule "stm32f4-baremetal-os"]
	path = stm32f4-baremetal-os
	url = https://github.com/meunaught/stm32f4-baremetal-os
[submodule "CS24-p2-DU_ROUNDRONIN"]
	path = CS24-p2-DU_ROUNDRONIN
	url = https://github.com/meunaught/CS24-p2-DU_ROUNDRONIN
